In [207]:
import pandas as pd

train_df = pd.read_csv("titanic/train.csv")
print("Pclass: ", train_df.Pclass.unique())
print("Sex: ", train_df.Sex.unique())
print("Age: ", train_df.Age.unique())
print("SibSp: ", train_df.SibSp.unique())
print("Parch: ", train_df.Parch.unique())
#print("Ticket: ", train_df.Ticket.unique())
print("Fare: ", train_df.Fare.min(), " ", train_df.Fare.max(), " ", train_df.Fare.mean())
print("Cabin: ", train_df.Cabin.unique())
print("Embarked: ", train_df.Embarked.unique())

train_df.head()

Pclass:  [3 1 2]
Sex:  ['male' 'female']
Age:  [22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]
SibSp:  [1 0 3 4 2 5 8]
Parch:  [0 1 2 5 3 4 6]
Fare:  0.0   512.3292   32.204207968574636
Cabin:  [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
Embarked:  ['S' 'C' 'Q' nan]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
  </tbody>
</table>
</div>

In [262]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Imputer, StandardScaler, LabelBinarizer
from sklearn.base import BaseEstimator, TransformerMixin


class CabinExtractor(BaseEstimator, TransformerMixin):
    def __init__(self, cabin_col, enabled=True):
        self.enabled = enabled
        self.cabin_col = cabin_col
        self.blocks = {"A": 0,
                       "B": 1,
                       "C": 2,
                       "D": 3,
                       "E": 4,
                       "F": 5,
                       "G": 6,
                       "H": 7,
                       "K": 8,
                       "T": 9}
        
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        #target_except_given = np.delete(X, self.cabin_col, axis=1)
        #if not self.enabled:
        #    return target_except_given
        source = X
        block_col = np.empty((len(source), 11), dtype=int)
        #seat_col = np.empty((len(source), 11), dtype=int)
        block_col[:, :] = 0
        #seat_col[:, :] = np.nan
        for i in range(0, len(source)):
            x = source[i]
            if pd.isnull(x):
                block_col[i, 10] = 1
                continue
            splitted = x.split(" ")
            seats = np.empty((len(splitted), 2), dtype=object)
            for j in range(0, len(splitted)):
                cabin_seat = splitted[j]
                cabin_seat_number = cabin_seat[1:]
                if not cabin_seat_number:
                    cabin_seat_number = np.nan
                else:
                    cabin_seat_number = int(cabin_seat_number)
                seats[j] = [self.blocks[cabin_seat[0]], cabin_seat_number]
            for block in seats[:, 0]:
                block_col[i, block] = 1

        return block_col 
    

imputer = Imputer(strategy="median")
scaler = StandardScaler()
labelBin = LabelBinarizer()
cabin_extr = CabinExtractor(0, True)

# ["Name", "Sex", "Ticket", "Cabin", "Embarked"]

train_df = train_df.dropna(subset=["Embarked"])
#train_df["family"] = train_df["SibSp"] + train_df["Parch"] 

train_cat = train_df[["Sex"]].values

train_cabin = cabin_extr.fit_transform(train_df["Cabin"].values)

train_num = train_df[["Pclass", "Age", "SibSp", "Fare", "Parch"]].values
y_train = train_df["Survived"].values

train_num = imputer.fit_transform(train_num)
#train_num_scaled = scaler.fit_transform(train_num)


bined = labelBin.fit_transform(train_cat)

train_num_joined = np.concatenate((train_num, bined), axis=1)
train_num_joined2 = np.concatenate((scaler.fit_transform(train_num), bined, train_cabin), axis=1)
#train_num_joined2 = train_num_joined2)

train_num_joined2 = np.delete(train_num_joined2, 14, axis=1)
train_num_joined2 = np.delete(train_num_joined2, 13, axis=1)
train_num_joined2 = np.delete(train_num_joined2, 7, axis=1)


y = np.array(y_train.T)[np.newaxis]

pd.DataFrame(np.concatenate((y.T, train_num_joined2), axis=1)).corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000</td>
      <td>-0.335549</td>
      <td>-0.069822</td>
      <td>-0.034040</td>
      <td>0.255290</td>
      <td>0.083151</td>
      <td>-0.541585</td>
      <td>0.022701</td>
      <td>0.115629</td>
      <td>0.151555</td>
      <td>0.151555</td>
      <td>0.058388</td>
      <td>-0.017733</td>
      <td>-0.026409</td>
      <td>-0.313435</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.335549</td>
      <td>1.000000</td>
      <td>-0.336512</td>
      <td>0.081656</td>
      <td>-0.548193</td>
      <td>0.016824</td>
      <td>0.127741</td>
      <td>-0.205968</td>
      <td>-0.419177</td>
      <td>-0.280167</td>
      <td>-0.223110</td>
      <td>0.010664</td>
      <td>0.073515</td>
      <td>-0.052760</td>
      <td>0.723815</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.069822</td>
      <td>-0.336512</td>
      <td>1.000000</td>
      <td>-0.232543</td>
      <td>0.093707</td>
      <td>-0.171485</td>
      <td>0.086506</td>
      <td>0.122666</td>
      <td>0.116589</td>
      <td>0.136899</td>
      <td>0.119248</td>
      <td>-0.076249</td>
      <td>-0.059042</td>
      <td>0.040558</td>
      <td>-0.235550</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.034040</td>
      <td>0.081656</td>
      <td>-0.232543</td>
      <td>1.000000</td>
      <td>0.160887</td>
      <td>0.414542</td>
      <td>-0.116348</td>
      <td>-0.046419</td>
      <td>0.028976</td>
      <td>-0.017789</td>
      <td>-0.033971</td>
      <td>0.001577</td>
      <td>-0.019259</td>
      <td>-0.015947</td>
      <td>0.038657</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.255290</td>
      <td>-0.548193</td>
      <td>0.093707</td>
      <td>0.160887</td>
      <td>1.000000</td>
      <td>0.217532</td>
      <td>-0.179958</td>
      <td>0.019853</td>
      <td>0.365304</td>
      <td>0.099410</td>
      <td>0.052231</td>
      <td>-0.032865</td>
      <td>-0.037768</td>
      <td>0.002299</td>
      <td>-0.480425</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.083151</td>
      <td>0.016824</td>
      <td>-0.171485</td>
      <td>0.414542</td>
      <td>0.217532</td>
      <td>1.000000</td>
      <td>-0.247508</td>
      <td>-0.040476</td>
      <td>0.030462</td>
      <td>-0.019340</td>
      <td>-0.011961</td>
      <td>0.023571</td>
      <td>0.036664</td>
      <td>-0.015917</td>
      <td>-0.039101</td>
    </tr>
    <tr>
      <th>6</th>
      <td>-0.541585</td>
      <td>0.127741</td>
      <td>0.086506</td>
      <td>-0.116348</td>
      <td>-0.179958</td>
      <td>-0.247508</td>
      <td>1.000000</td>
      <td>0.078035</td>
      <td>-0.059590</td>
      <td>-0.080015</td>
      <td>-0.055082</td>
      <td>-0.008591</td>
      <td>-0.041153</td>
      <td>0.024676</td>
      <td>0.135589</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.022701</td>
      <td>-0.205968</td>
      <td>0.122666</td>
      <td>-0.046419</td>
      <td>0.019853</td>
      <td>-0.040476</td>
      <td>0.078035</td>
      <td>1.000000</td>
      <td>-0.034928</td>
      <td>-0.025722</td>
      <td>-0.025722</td>
      <td>-0.015959</td>
      <td>-0.011671</td>
      <td>-0.004396</td>
      <td>-0.241598</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.115629</td>
      <td>-0.419177</td>
      <td>0.116589</td>
      <td>0.028976</td>
      <td>0.365304</td>
      <td>0.030462</td>
      <td>-0.059590</td>
      <td>-0.034928</td>
      <td>1.000000</td>
      <td>-0.052349</td>
      <td>-0.052349</td>
      <td>-0.032479</td>
      <td>-0.023752</td>
      <td>-0.008947</td>
      <td>-0.491688</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.151555</td>
      <td>-0.280167</td>
      <td>0.136899</td>
      <td>-0.017789</td>
      <td>0.099410</td>
      <td>-0.019340</td>
      <td>-0.080015</td>
      <td>-0.025722</td>
      <td>-0.052349</td>
      <td>1.000000</td>
      <td>-0.038551</td>
      <td>-0.023919</td>
      <td>-0.017492</td>
      <td>-0.006589</td>
      <td>-0.362095</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.151555</td>
      <td>-0.223110</td>
      <td>0.119248</td>
      <td>-0.033971</td>
      <td>0.052231</td>
      <td>-0.011961</td>
      <td>-0.055082</td>
      <td>-0.025722</td>
      <td>-0.052349</td>
      <td>-0.038551</td>
      <td>1.000000</td>
      <td>0.025647</td>
      <td>-0.017492</td>
      <td>-0.006589</td>
      <td>-0.362095</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.058388</td>
      <td>0.010664</td>
      <td>-0.076249</td>
      <td>0.001577</td>
      <td>-0.032865</td>
      <td>0.023571</td>
      <td>-0.008591</td>
      <td>-0.015959</td>
      <td>-0.032479</td>
      <td>-0.023919</td>
      <td>0.025647</td>
      <td>1.000000</td>
      <td>0.307212</td>
      <td>-0.004088</td>
      <td>-0.224658</td>
    </tr>
    <tr>
      <th>12</th>
      <td>-0.017733</td>
      <td>0.073515</td>
      <td>-0.059042</td>
      <td>-0.019259</td>
      <td>-0.037768</td>
      <td>0.036664</td>
      <td>-0.041153</td>
      <td>-0.011671</td>
      <td>-0.023752</td>
      <td>-0.017492</td>
      <td>-0.017492</td>
      <td>0.307212</td>
      <td>1.000000</td>
      <td>-0.002990</td>
      <td>-0.164292</td>
    </tr>
    <tr>
      <th>13</th>
      <td>-0.026409</td>
      <td>-0.052760</td>
      <td>0.040558</td>
      <td>-0.015947</td>
      <td>0.002299</td>
      <td>-0.015917</td>
      <td>0.024676</td>
      <td>-0.004396</td>
      <td>-0.008947</td>
      <td>-0.006589</td>
      <td>-0.006589</td>
      <td>-0.004088</td>
      <td>-0.002990</td>
      <td>1.000000</td>
      <td>-0.061887</td>
    </tr>
    <tr>
      <th>14</th>
      <td>-0.313435</td>
      <td>0.723815</td>
      <td>-0.235550</td>
      <td>0.038657</td>
      <td>-0.480425</td>
      <td>-0.039101</td>
      <td>0.135589</td>
      <td>-0.241598</td>
      <td>-0.491688</td>
      <td>-0.362095</td>
      <td>-0.362095</td>
      <td>-0.224658</td>
      <td>-0.164292</td>
      <td>-0.061887</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [261]:
#y_train = train[:, 1]
#X_train = train[:, 2:]

from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

lrc = MLPClassifier(hidden_layer_sizes=(128,), tol=0.0001, epsilon=1e-09)
#lrc.fit(train_num2, y_train)
X_train = train_num_joined2

param_grid = [
    {
    'hidden_layer_sizes': [(7, 7), (128,), (128, 7)],
        'tol': [1e-2, 1e-3, 1e-4, 1e-5, 1e-6],
        'epsilon': [1e-3, 1e-7, 1e-8, 1e-9, 1e-8]
    }]


#print(cross_val_score(lrc, train_num, y_train, cv=5, scoring="accuracy").mean())
#print(cross_val_score(lrc, train_num_scaled, y_train, cv=5, scoring="accuracy").mean())
#print(cross_val_score(lrc, train_num_joined, y_train, cv=10, scoring="accuracy").mean())
print(cross_val_score(lrc, train_num_joined2, y_train, cv=8, scoring="accuracy").mean())

#grid_search = GridSearchCV(lrc, param_grid, cv=5, scoring="accuracy")
#grid_search.fit(X_train, y_train)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

0.820152356089856

C:\Users\andre\AppData\Local\Programs\Python\Python36\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:563: ConvergenceWarning: Stochastic Optimizer: Maximum iterations reached and the optimization hasn't converged yet.
  % (), ConvergenceWarning)

In [188]:
grid_search.best_params_

{'epsilon': 1e-09, 'hidden_layer_sizes': (128,), 'tol': 0.0001}